@charset "utf-8";

/* Rules from JTTLOV 'main.css' */

/* overall colour */
body
{
	color:#4f67e3;
	background-color:#001;
}

/* basic rules */
em em
{
	font-style: normal;
	font-weight: bold;
}

h1,h1 *
{
	color:#6f8fff;
	text-decoration: underline;
}

ul
{
	list-style-type:disc;
}

img
{
	border:0;
	vertical-align:top;
}

/* tag-based colours and things */

acronym
{
	color:#675fe7;
}

em
{
	color:#6f57eb;
	font-style:italic;
}

a[href]
{
	color:#672ff7;
	text-decoration:underline;
}


a[href]:hover
{
	background-color:#1f1b2f;
}

/* named things (classes, ids) */

a.ext
{
	color:#6f17ff;
}

.disclaimer,.disclaimer *
{
	color:#9f5f3f;
	font-family:monospace;
}

.date
{
	font-variant:small-caps;
}

#title h1
{
	font-size:xx-large;
	font-weight:bold;
	font-family:serif;
	font-variant:small-caps;
}

#title h5
{
	font-size:normal;
	font-weight:bold;
	font-style:italic;
	font-family:serif;
	font-variant:small-caps;
}

#title h5 em
{
	font-style:normal;
}

/* Rules from JTTLOV 'projects.css' */

.prog
{
	color:#ffe;
	background-color:#000;
	font-family:monospace;
	white-space:pre;
}
